#submit_button, select, button {
    cursor: pointer;
    background-color: #063970;
    color: white;
    text-align: center;
    border-radius: 7px;
}

#submit_button {
    height: 50px;
    width: 100px;
    font-size: medium;
}

button {
    height: 50px;
    width: 200px;
    font-size: medium;
}

#submit_button:hover, button:hover {
    color: turquoise;
    
}

/* Style for banner and footer */
.banner, .footer {
    background-color: #063970;
    color: #ECF0F1;
    padding: 20px 0;
    text-align: center;
}

/* Main body styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

/* Margin for main content */
.content {
    margin: 20px;
}

/* Style for form elements */
label, input, select {
    margin-bottom: 10px;
}

/* Turquoise color for certain elements */
h2, fieldset legend {
    color: turquoise;
}

/* Box outlining for radio button group */
fieldset {
    border: 2px solid turquoise;
    padding: 10px;
}

/* Style for footer links */
footer a {
    color: #ECF0F1;
    margin-right: 10px;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #3498DB;
}

/* New styles for food images */
.food-section {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.food-item {
    width: 30%;
    text-align: center;
}

.food-item img {
    width: 100%;
    max-width: 200px;
    height: auto;
}

#fact {
    width: 50%;
    font: 400;
    border: #063970 2px;
}

#fact-image, #compliment-image {
 width: 20%;
 margin-top: 30px;
}

#compliment-image {
    display: block;
    margin: 10px auto;
}

#fact-content {
    text-align: center;
}

#fact {
    margin: 10px auto;
}

#citation {
    margin: 20px auto;
    font-style: italic;
    font-size: small;
}

h3 {
    color: #063970;;
}

table {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: auto;
    border: 1px solid #063970;
    border-collapse: collapse;
    white-space: normal;
    width: 100%;
}

tbody tr:nth-child(odd) {
    background-color: #3498DB;
    text-align: center;
    border: 1px solid #063970
}
  
tbody tr:nth-child(even) {
    background-color: #8ab7d4;
    text-align: center;
    border: 1px solid #063970
}

thead {
    background-color: #063970;
    color: white;
    text-align: center;
    border: 1px solid #063970
}

tbody {
    margin: 5%;
}

#compliment-button {
    display: block;
    margin: auto;
}

#compliment {
    display: block;
    margin: auto;
    text-align: center;
    font-size: larger;
    font-style: italic;
    color: #063970; 
}

#compliment-links {
    text-align: center;
    font-style: italic;
    font-size: small;
}

